html {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
slant-box.paper-header h1 {
    padding: 0 16px;
    margin: 0;
    line-height: 56px; /* The paper-toolbar hardcodes this! So... What now...? */
    color: #00ff00;
}
