body {
    background: #0f0;
    overflow: hidden;
}
slant-box#header h1 {
    margin: 0;
    padding: 0;
}

slant-box#header .foo-menu-item {
    background: #eeeeee;
    margin: 10px;
    padding: 10px;
}
